<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34200321931-ccc7gopnpc0ghh77498jh7u6l1jffqgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34200321931-ccc7gopnpc0ghh77498jh7u6l1jffqgk</string>
	<key>API_KEY</key>
	<string>AIzaSyBY1S3p6MD0QitivL8Al1pSo65gAxLS67I</string>
	<key>GCM_SENDER_ID</key>
	<string>34200321931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradeProjrct</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-36b20</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-36b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34200321931:ios:ce161579b21ed9cc3d798e</string>
</dict>
</plist>